
<div class="containerS">
    <button mat-button [matMenuTriggerFor]="menu" class="mat-menu-trigger" id="boton-circular"><mat-icon class="icono-grande">accessibility</mat-icon></button>
    <mat-menu #menu="matMenu" class="mat-menu-overlay" >
      <button mat-menu-item id="menu" ><mat-icon>record_voice_over</mat-icon>VOICE</button>
      <div class="letra" id="menu">
        Fuente
        <button mat-menu-item class="let" ><mat-icon>add_circle_outline</mat-icon></button>
      <button mat-menu-item class="let" ><mat-icon>remove_circle_outline</mat-icon></button>
      </div>
      <button mat-menu-item id="menu"><mat-icon >link</mat-icon>Enlaces renlace</button>
      <button mat-menu-item id="menu"><mat-icon >mouse</mat-icon>Aumentar Cursor</button>
      
      
    </mat-menu>
  </div>
  