.containerS {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  .mat-menu-overlay {
    position: absolute;
  }
  
  #boton-circular {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #b2ebf2; /* Color azul claro */
    border: 3px solid #fff;
    
    padding-right: 2px;
 
  }
 
  .icono-grande {
    transform: scale(3.5);
    
  }

  .letra{
    display: flex;
    
    align-items: center;
    text-align: center;
  }

  #menu {
    background-color: #b2ebf2; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    font-weight: bold; /* Fuente en negrita */
    font-family: Arial, sans-serif; /* Cambia la fuente según tus preferencias */
    transition: background-color 0.3s; /* Transición suave al cambiar el color de fondo */
    font-family: Arial, sans-serif; /* Cambia la fuente según tus preferencias */
  font-weight: bold; /* Fuente en negrita */
  border: 1px solid #fff;
  
  }
  
  #menu:hover {
    background-color:#2493a2 ; /* Color de fondo al pasar el cursor sobre el botón */
    color:white; /* Color del texto al pasar el cursor sobre el botón */
    font-family: Arial, sans-serif; /* Cambia la fuente según tus preferencias */
  font-weight: bold; /* Fuente en negrita */
  }
 
  